@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@500&display=swap");

.container {
	display: flex;
	flex-direction: column;
	border: solid rgb(213, 213, 213) 1px;
	border-radius: 10px;
	height: 100%;
	width: 1000px;
	padding: 25px;
	align-self: center;
	/* Arriba | Derecha | Abajo | Izquierda */
	margin: 5% 15%;
}
.tag {
	background-color: #d1d1e9;
	color: #fffffe;
	width: 12%;
	align-self: center;
	border-radius: 5px;
	padding: 8px 16px;
	font-size: normal;
}
.title {
	font-family: "Prompt", sans-serif;
	color: #6246ea;
	font-size: xx-large;
}

.btn {
	text-decoration: none;
	border: none;
	color: whitesmoke;
	background-color: #6246ea;
	height: 7%;
	width: 15%;
	border-radius: 5px;
	transition: 0.2s;
	padding: 8px 16px;
	font-size: large;
}
.btn:hover {
	background-color: #e45858;
}
.flag {
	width: 45%;
	position: relative;
}
