.footer {
	background-color: #6246ea;
	height: 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.nav > a {
	text-decoration: none;
	color: aliceblue;
}
.nav {
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: space-evenly;
	margin-left: 25px;
	font-size: small;
	text-decoration: none;
}
.socials {
	display: flex;
	justify-content: space-evenly;
	width: 25%;
	flex-direction: row;
	margin-right: 25px;
}
.img {
	width: 45px;
	filter: invert();
}
.img:hover {
	filter: invert(45%) sepia(93%) saturate(2753%) hue-rotate(334deg)
		brightness(114%) contrast(79%);
}
