@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@200&display=swap");
.container {
	display: flex;
	justify-content: space-around;
	border-color: red;
	border: 3px;
	background-image: url("http://cdn.shopify.com/s/files/1/0303/4896/8074/products/Earth_minimalist_zoom_1200x1200.jpg?v=1662143622");
	padding: 10% 4%;
	background-repeat: no-repeat;
	background-size: cover;
	height: 450px;
}
.right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.right > h3 {
	font-family: "Prompt", sans-serif;
	font-weight: normal;
	font-size: larger;
	width: 300px;
}
.butn {
	border: none;
	color: whitesmoke;
	background-color: #6246ea;
	height: 60 px;
	width: 300px;
	border-radius: 9px;
	padding: 10px;
	transition: 0.2s;
	cursor: pointer;
}
.butn > a {
	text-decoration: none;
	font-size: medium;
}
.butn:hover {
	transform: scale(1.1);
	box-shadow: 0 10px 18px 0 rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar {
	width: 0; /* Remove scrollbar space */
	background: transparent; /* Optional: just make scrollbar invisible */
}
.globe {
	width: 150%;
}
